@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');
@import url('~react-leaflet-markercluster/dist/styles.min.css');

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.woff) format('woff2'),
        local('Roboto-Regular'), url(./fonts/Roboto-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.woff) format('woff2'),
        local('Roboto-Bold'), url(./fonts/Roboto-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#root {
    text-align: center;
}

.App {
    /* font: 16px arial, sans-serif; */
    font-size: 16px;
}

.Wrapper {
    max-width: 600px;
    width: 100%;
    display: inline-block;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    position: relative;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-bordered {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    border: 0.5px solid #ccc;
}

/*TODO Read docs and maybe remove this. Leaflet css has a whitebg and border for .leaflet-div-icon, which we override here*/
/*TODO Seems a strange default*/
.leaflet-marker-icon {
    background: transparent;
    border: none;
}

.footer {
    position: fixed;
    left: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: #fff;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    z-index: 1001;
}

.modal-content {
    box-sizing: border-box;

    padding: 20px 20px 20px 20px;
    border: 1px solid grey;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2000;
    max-width: 300px;
    min-width: 300px;
    min-height: 300px;
}

.modal-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #1a47d3;
    padding-bottom: 10px;
}

.modal-topbar-title {
    /*font-weight: bold;*/
    margin: 0;
    color: #1a47d3;
}

.modal-topbar-x {
    margin: 0;
    cursor: pointer;
}

.p-recipients-table {}

.recipient-row {
    text-align: left;
    height: 40px;
}

.recipient-row td {
    white-space: nowrap;
}

.recipient-row-interactive {
    text-align: left;
    height: 40px;
    cursor: pointer;
}

.recipient-row-interactive td {
    white-space: nowrap;
}

.recipient-cell-right {
    width: 100%;
    text-align: right;
    color: #999;
}

.recipient-cell-right svg {
    margin-left: 10px;
}

.modal-bottombar {
    max-height: 220px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.modal-bottombar::-webkit-scrollbar {
    width: 4px;
}

.modal-bottombar::-webkit-scrollbar-thumb {
    background: #888;
}

.top {
    padding-top: 150px;
    width: 100%;
}

.searchbox {
    /* Remove top shadow on iOS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 40px;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: solid 1px #D8E1EA;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 18px;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
}

.searchbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: inherit;
}
.searchbox::-moz-placeholder { /* Firefox 19+ */
    font-family: inherit;
}
.searchbox:-ms-input-placeholder { /* IE 10+ */
    font-family: inherit;
}
.searchbox:-moz-placeholder { /* Firefox 18- */
    font-family: inherit;
}

.searchbox:focus {
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
    border: solid 1px #1f4cd2;
}

.searchbox.no-border {
    /* Remove borders when suggestions box is displayed */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*input.rounded:focus {*/

/*    !* supported IE8+ and all other browsers tested.*/
/*     * optional, but gives the input focues when selected.*/
/*     * change to a color that suits your design.*/
/*     *!*/

/*}*/

.page-title {
    font-size: 50px;
}

.suggestions {
    list-style: none;
    position: relative;
    z-index: 1200;
    background: white;
    margin: -1px 0 0 0;
    border: 1px solid #D8E1EA;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
    padding: 4px 0 10px 0;

    /* Fixes the z-index issue */
    -webkit-transform: translate3d(0, 0, 0);
}

.suggestions-highlight {
    border: 1px solid #1f4cd2;
    border-top: none;
}

.suggestions::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: #e8eaed;
}

.suggestion-item {
    padding: 5px 20px;
}

.suggestion {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    text-align: left;
}

.suggestion-highlighted {
    cursor: pointer;
    text-decoration: none;
    color: #1a47d3;
    font-weight: bold;
    text-align: left;
}

.result-header-first {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #1f4cd2;
    padding-bottom: 15px;
}

.result-header {
    color: #1f4cd2;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #1f4cd2;
    padding-bottom: 7px;
    padding-top: 35px;
}

.list-item-categories {
    margin-bottom: 20px;
    /*padding-bottom: 20px;*/
    padding-top: 6px;
    font-size: 12px;
    text-align: right;
    vertical-align: center;
}

.categories-tag {
    background-color: #D8E1EA;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.list-item-default {
    margin-bottom: 20px;
    padding-top: 6px;
}

.list-item-tip {
    margin-bottom: 7px;
    text-align: left;
    background-color: #D8E1EA;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.result-header-p-containers {
    border-top: solid 1px #666;
    margin-top: 10px;
}

.p-containers-link {
    cursor: pointer;
    padding-top: 30px;
    height: 50px;
    display: block;
    padding-bottom: 20px;
}

.p-containers-span {
    padding: 5px 8px 5px 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    color: #000;
}

.show-more {
    padding: 5px 8px 5px 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-color: #828282;
    border-width: 1px;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
    color: #828282;
    cursor: pointer;

    box-shadow: none;
    transition: all .1s linear;
}

.show-more:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

.show-more:active {
    box-shadow: none;
    border-color: #1f4cd2;
    color: #1f4cd2;
}

.results-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

.map-with-filters-container {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
}

.map-container {}

.map-filters {
    height: auto;
    margin: 30px 0 15px 0;
}

.map-filter {
    margin-right: 10px;
}

.map-popup-route-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
}

.map-data-link {
    text-decoration: none;
    color: #000;
}

.map-data-icon {
    margin-right: 5px;
}

.leaflet-container a {
    color: #000;
}

/*204BD0*/
.recipient-name {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.recipient-name-closed {
    cursor: pointer;
    text-decoration: none;
}

.recipient-name-closed span {
    color: #828282;
}

.recipient-name-closed span:hover {
    color: #1a47d3;
}

.recipient-data-link {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

.recipient-data-link-closed {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    color: #999;
}

.recipient-data-link-for-details {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.recipient-data-link-closed-for-details {
    cursor: pointer;
    text-decoration: none;
    color: #999;
    margin-bottom: 10px;
}

.recipient-details-data-link-container {
    text-align: left;
    margin-bottom: 10px;
}

.all-results {
    width: 100%;
    display: inline-block;
    padding-bottom: 40px;
}

.p-container-popup-title {
    font-weight: bold;
    text-decoration: none;
    color: #1a47d3;
}

.p-container-popup-title-span {
    color: #000;
}

.p-container-popup-title-span:hover {
    color: #1a47d3;
}

.p-container-popup-company {
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.p-container-popup-routes {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #000;
}

.leaflet-popup-content {
    width: 220px;
}

.progress-overlay {
    position: absolute;
    width: 500px;
    top: 282px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 400px;
    z-index: 30;
    background-color: rgba(255, 0, 255, 0.5);
}

.feedback-link {
    cursor: pointer;
    text-decoration: none;
}

.about-link {
    cursor: pointer;
}

.cluster-cont {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 3px;
    margin-left: 2px;
}

.cluster-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin-top: -1px;
}

.cluster-label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    color: #fff;
    /*color: #1a47d3;*/
    /*font-weight: bold;*/
}

.opening-times-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
    border-top: 1px solid #000;
    padding-top: 5px;
}

.opening-times-title-in-list {
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    padding-top: 10px;
    text-align: left;
}

.opening-times-status-open {
    margin-top: 5px;
    font-weight: bold;
}

.opening-times-status-closed {
    margin-top: 5px;
    font-weight: bold;
    color: #000;
}

.opening-times-status-in-list-open {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.opening-times-status-in-list-closed {
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}

.always-open-label {
    font-weight: bold;
    margin-top: 5px;
}

.opening-times-table td {
    padding-right: 10px;
    text-align: left;
}

.opening-times-table-in-list td {
    padding: 0;
    padding-right: 10px;
    text-align: left;
}

.opening-times-table-in-list {
    margin-bottom: 30px;
}

.results-details-row-expanded {
    /*overflow: hidden;*/
    /*transition: max-height 0.3s ease-out;*/
    /*/ / note that we 're transitioning max-height, not height! height: auto;*/
    /*max-height: 600px;*/
    /*/ / still have to hard-code a value !;*/

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    opacity: 1;
    max-height: 400px;
}

.results-details-row-collapsed {
    opacity: 0;
    max-height: 0;
    /*line-height: 0;*/
    overflow: hidden;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.opening-hours-row-now {
    font-weight: bold;
    color: #1a47d3;
}

.opening-hours-row-default {}

.lang-link {
    cursor: pointer;
}

.results-distance-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin-left: 5px;
}

.result-distance-number {
    /*font-size: 14px;*/
    /*text-align: center;*/
}

.result-distance-unit {
    /*text-align: center;*/
    /*font-size: 12px;*/
}

.results-distance-link-closed {
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

a.results-distance-link-closed {
    color: #828282;
}

a, a:visited, a:active {
    color: inherit;
}

a:hover {
    color: #1a47d3;
}

.social-link {
    cursor: pointer;
}

.social-option {
    text-decoration: none;
}

.lang {
    cursor: pointer;
}

.lang-selected {
    cursor: pointer;
    font-weight: bold;
    color: #1a47d3;
}

.missingItemListItem {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 50px 0 50px;
}

.missingItemLink {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #999;
}

.request-item-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.no-results-search-text {
    font-weight: bold;
    margin-top: 10px;
}

.container-list-item {
    margin-top: 20px;
}

/* Progress bar https://stackoverflow.com/a/34773398/930450 */

.slider {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.line {
    position: absolute;
    opacity: 0.4;
    background: #4a8df8;
    width: 100%;
    height: 5px;
}

.categories-string {
    font-weight: bold;
}

.subline {
    position: absolute;
    background: #4a8df8;
    height: 5px;
}

.inc {
    animation: increase 2s infinite;
}

.dec {
    animation: decrease 2s 0.5s infinite;
}

.legal-section-tab {
    cursor: pointer;
    text-decoration: none;
}

.legal-section-tab-selected {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.privacy-policy-link {
    cursor: pointer;
    text-decoration: none;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}


/* Checkbox styles */
.map-filters input[type="checkbox"] {
    display: none;
}

label.map-filter {
    position: relative;
}

label.map-filter::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 16px;
    height: 16px;
    border: 2px solid #1a47d3;
    border-radius: 2px;
    background-color: transparent;
}

.map-filters input[type="checkbox"]:checked~label.map-filter::before {
    background-color: #2bdf82;
}

.map-filters input[type="checkbox"]:checked~label.map-filter::after {
    content: "";
    position: absolute;
    bottom: 8px;
    right: -26px;
    width: 10px;
    height: 4px;
    border: 2px solid #1a47d3;
    border-top: none;
    border-right: none;
    transform: rotate(-52deg);
}

.map-filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.map-filters-wrapper>div {
    margin-right: 30px;
    margin-bottom: 10px;
}

/* Results */
@media only screen and (max-width: 460px) {
    .page-title-icon {
        width: 280px;
    }
}

.result-header-icon {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.map-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.phone-icon {
    vertical-align: middle;
}

.beta-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
}

.recipient-cell-right:empty {
	display: none;
}


/* Table responsive styles */
@media only screen and (max-width: 600px) {
    .p-recipients-table-wrapper {
        width: 90vw;
        overflow-x: scroll;
    }

    .p-recipients-table {
        width: 100%;
    }

    .recipient-row-interactive,
    .recipient-details-data-link-container,
    .opening-times-status-in-list-open,
    .opening-times-title-in-list,
    .opening-hours-row-default {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .p-recipients-table-wrapper {
        width: 280px;
    }
}